body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.otp-box {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.login-box h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
}

.textbox {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.textbox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

.textbox input:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

span{
  width: 100%;
  margin-top: 5px;
  color: red;
  text-align: left;
}

.back-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 14px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}